/* Mobile */
@media only screen and (max-width: 767px) {
  #modalMusica .modal-content p {
    font-size: 40px !important;
    line-height: 40px !important;
  }

  #modalMusica .modal-content p + span {
    font-size: 15px !important;
  }

  #modalMusica .modal-content .boton {
    margin-bottom: 15px !important;
  }

  .title {
    font-size: 55px !important;
    line-height: 40px !important;
    padding: 0 15px !important;
  }

  .subtitle {
    font-size: 19px !important;
    padding: 0 15px !important;
    margin-top: 25px !important;
  }

  section.portada .content-portada h1 {
    font-size: 100px !important;
    line-height: 65px !important;
  }

  section.cuenta-regresiva .box-aros {
    width: 360px !important;
    height: 360px !important;
  }

  section.portada .box-nombres-fecha-portada h1 span {
    font-size: 40px !important;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    margin-bottom: 15px !important;
  }

  section.portada .content-portada span.fecha:before {
    right: -40px !important;
  }

  section.portada .content-portada span.fecha:after {
    left: -40px !important;
  }

  section.portada .content-portada {
    width: 95% !important;
  }

  section.portada .content-portada span.fecha {
    font-size: 25px !important;
    margin-bottom: 15px !important;
  }

  section.portada {
    padding-bottom: 70% !important;
    overflow: hidden !important;
  }

  section.portada .box-frase-portada p {
    font-size: 20px !important;
  }

  section.portada .box-frase-portada {
    margin-top: 25px !important;
  }

  section.portada::after {
    bottom: -2% !important;
  }

  section.cuenta-regresiva .box-aros .box-circulo span.falta {
    font-size: 40px !important;
    margin-top: 0 !important;
  }

  section.cuenta-regresiva .reloj-col span.number {
    font-size: 30px !important;
  }

  section.footer h4 {
    font-size: 65px;
  }

  section.footer h4 span {
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  section.footer .col-acciones-footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 30px;
  }

  section.cuenta-regresiva .reloj-col span.time {
    font-size: 18px !important;
  }

  section.portada .portada-flor-izq-sup {
    left: -33% !important;
    width: 100% !important;
  }

  section.cuenta-regresiva .box-aros .box-circulo {
    padding: 28px 20px !important;
    height: 270px !important;
    width: 270px !important;
    max-width: 350px !important;
  }

  section.ceremonia-fiesta .row {
    padding-top: 10px !important;
  }

  section.ceremonia-fiesta .col-ceremonia h3,
  section.ceremonia-fiesta .col-fiesta h3 {
    padding: 8px 30px;
    font-size: 50px;
  }

  section.ceremonia-fiesta .col-ceremonia .anim-anillos,
  section.ceremonia-fiesta .anim-fiesta {
    width: 50%;
    height: auto;
  }

  section.portada img.portada-flor-izq-inf {
    width: 25%;
    bottom: -25%;
  }

  section.instagram {
    padding-top: 35%;
    padding-bottom: 50%;
  }

  section.footer {
    padding-bottom: 20%;
    padding-top: 30%;
  }

  section.regalos {
    padding-top: 30% !important;
    padding-bottom: 25% !important;
    overflow-x: hidden !important;
  }

  section.fiesta {
    padding-bottom: 35%;
    padding-top: 35%;
    background-position-y: 50px;
  }

  section.ceremonia-fiesta {
    padding-bottom: 35% !important;
    overflow-x: hidden !important;
  }

  section.galeria {
    padding-top: 70px;
  }

  #modalMapa .modal-header .modal-title {
    font-size: 23px;
  }

  section.portada .portada-flor-der-inf {
    bottom: 25% !important;
    right: -4% !important;
    width: 45% !important;
  }

  section.portada .portada-flor-izq-inf {
    bottom: -59% !important;
    left: -33% !important;
    width: 91% !important;
  }

  section.regalos .regalos-flor-der {
    bottom: 5% !important;
    right: -32% !important;
    width: 89% !important;
  }

  section.ceremonia-fiesta .info-col .info-box a.boton {
    min-width: 80%;
  }

  section.ceremonia-fiesta .ceremonia-fiesta-flor-der {
    width: 80% !important;
    right: -29% !important;
    bottom: 41% !important;
  }

  section.fiesta .fiesta-flor-izq {
    max-width: 25%;
    bottom: -30%;
  }

  section.fiesta:after {
    bottom: -35px;
  }

  section.instagram:before {
    top: -2px;
  }

  section.instagram .hashtag {
    font-size: 45px;
  }

  section.instagram:after {
    bottom: 0;
  }

  section.fiesta .item-fiesta a.boton {
    min-width: 100%;
  }

  #controlador-musica {
    position: fixed !important;
    right: 0 !important;
    top: 92% !important;
  }

  .music-anim-icon {
    width: 80px !important;
    height: 80px !important;
    cursor: pointer !important;
  }

  section.fiesta .item-fiesta .hojas-musica {
    position: absolute;
    top: -75px;
    left: -40px;
    z-index: -99;
    width: 132px;
  }

  section.footer .col-acciones-footer ul li {
    text-align: center;
  }

  section.cuenta-regresiva {
    height: 290px !important;
  }

  section.ceremonia-fiesta:after {
    bottom: -2px;
  }

  .modal-dialog .white-circle-icon {
    top: -55px;
  }

  a.boton.modal-regalos {
    z-index: 10 !important;
  }
}

/* Otros */
@media only screen and (min-width: 750px) {
  section.ceremonia-fiesta .ceremonia-fiesta-flor-der {
    width: 16%;
  }
}

/* De tablet a Descktop */
@media only screen and (min-width: 992px) {
  /* Modal regalos */

  #modalRegalos .modal-content {
    border: none !important;
    background: none !important;
    text-align: center !important;
    max-width: 780px !important;
    height: 560px !important;
    padding: 8% 20% !important;
    background: url("../images/img_modal01.svg") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 100px center !important;
  }

  #modalRegalos .modal-body {
    padding: 1rem 1.5rem !important;
  }

  #modalRegalos .close {
    top: 10px !important;
    right: 55px !important;
  }

  /* Modal fotos */

  #modalFotos .modal-content {
    border: none !important;
    background: none !important;
    text-align: center !important;
    max-width: 780px !important;
    height: 560px !important;
    padding: 8% 20% !important;
    background: url("../images/img_modal01.svg") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 100px center !important;
  }

  #modalFotos .modal-body {
    padding: 1rem 1.5rem !important;
  }

  #modalFotos .close {
    top: 10px !important;
    right: 55px !important;
  }

  .content-fotos .shadow-left {
    display: block;
    position: absolute;
    left: 0;
    z-index: 999;
    height: 150%;
    width: 6%;
    background: url("../images/img_sombraGaleria_izq.svg") left center no-repeat;
    top: -27%;
  }

  .content-fotos .shadow-right {
    display: block;
    position: absolute;
    right: 0;
    z-index: 999;
    height: 150%;
    width: 6%;
    background: url("../images/img_sombraGaleria_der.svg") right center repeat-y;
    top: -27%;
  }
}

@media only screen and (max-width: 375px) {
  section.instagram .hashtag {
    font-size: 35px;
  }
}
